body{
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
.started{
	color: white;
	height: 100vh;
	padding-top: 35vh;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.started h1 {
	font-size: 4rem;
}
.started a {
	color: white;
	font-size: 2rem;
	transition: .5s;
	border-bottom: 2px dashed transparent;
}
.started a:hover {
	text-decoration: none;
	color: #3f51b5;
	transition: .5s;
	border-bottom: 2px dashed #3f51b5;
}